<template>
    <div id="CmtList" class="commentPost" >
        <div class="addContainer">
            <button class="btnAddComment" @click="toggleAdd"><i class="fas fa-pen"></i>Ecrire un commentaire</button>
            <div v-if="showAdd" id="addComment" name="addComment" class="formComment">
                <textarea type="text" v-model="msg" placeholder="Écrivez un commentaire..."/>
                <button type="button" @click="addComment"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
        <cmt  v-for="c in comments" :key="c.Id" v-bind:comment="c" @delete-cmt="deleteComment" />
    </div>
</template>

<script>
import CommentDto from '../models/comment';
import cmt from './cmt.cpnt.vue'
export default {
    name:'cmtList',
    el:'#CmtList',
    props:{
        postId:Number
    },
	components: {
        cmt
    },
    data: function () {
      return {
        showAdd:false,
        msg:'',
        comments:[CommentDto]
      }
    },
    mounted() {
      console.log('test comment List');          
      this.$store.dispatch('getComments',this.postId).then(x =>{
              this.comments = x;
          });
    },
    methods :{
      toggleAdd:function(){
        this.showAdd = !this.showAdd;
      },
      addComment:function(){
          if(this.msg){
            const c = Object.create(CommentDto);
            c.PostId = this.postId;
            c.Msg = this.msg;
            c.UserId = this.$store.getters.getConnectedUser.UserId;
            console.log(c);
            this.$store.dispatch('addComment',{pid:this.postId,cmt:c}).then(x => {
                console.log(x);
                this.msg = '';
                this.$store.dispatch('getComments',this.postId).then(x =>{
                    this.comments = x;
                });
            });
          }
      },
      deleteComment:function(value){
            console.log(value);
            this.$store.dispatch('deleteComment',{postId:this.postId, cmtId:value}).then(x => {
                console.log(x);
                this.$store.dispatch('getComments',this.postId).then(x =>{
                    this.comments = x;
                });
            });
      }
    }
}
</script>

<style scoped lang="scss">
.btnAddComment{
    margin: 3%;
    height: 2.7rem;
    font-size: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background: var(--secondary-color);
    width: 230px;
    box-shadow: 4px 4px 6px -3px grey;
    cursor: pointer;
    color: white;
    i{
        margin-right: 5%;
    }
}

.formComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 90%;
    textarea{
        width: 80%;
        margin: 2% auto;
        border: none;
        border-radius: 10px;
        background: #F6F7F6;
    }

    button{
        width: 10%;
        border: none;
        background: var(--sixth-color);
        cursor: pointer;
        i{
            color: var(--primary-color);
            font-size: 1.2rem;
        }
    }
}

</style>