<template>
    <div id="CmtTile" class="cmtContainer">
        <div class="avatarContainer">
            <img class="avatar" v-bind:src="comment.ImgUrl" alt="">
        </div>

        <div class="messageContainer">
          <div class="user">
            <label class="identity">{{comment.LastName}} - {{comment.FirstName}}</label>
            <span class="service"> - {{comment.SvcName}}</span>
          </div>
          <label class="comment">{{comment.Msg}}</label>
        </div>

        <button v-if="isMine" class="btnDelete" @click="deleteComment"><i class="far fa-trash-alt"></i></button>
    </div>
</template>

<script>
import CommentDto from '../models/comment';
export default {
    name:'cmt',
    el:'#CmtTile',
    props:{
        comment:CommentDto
    },
    data: function () {
      return {
        isMine:false
      }
    },
    mounted() {
      console.log('test comment');
      this.isMine = this.$store.getters.getConnectedUser.UserId == this.comment.UserId;
    },
    methods :{
      deleteComment:function(){
          console.log(this.comment.Id);
        this.$emit('delete-cmt', this.comment.Id);
      }
    }
}
</script>

<style scoped lang="scss">

.cmtContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatarContainer{
    width: auto;
    margin: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .avatar{
      width:50px;
      height: 50px;
      border-radius: 20px;
      @media only screen and (max-width : 992px) {
        width:35px;
        height: 35px;
      }
    }
}
.messageContainer{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    background: #F6F7F6;
    margin-top: 2%;
    border-radius: 5px;
    padding: 1%;

    .user{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 2%;
      label{
        font-weight: bold;
        margin-right: 2%;
      }
      .identity{
        font-size: 0.9rem;
      }
      .service{
        font-size: 0.8rem;
      }  
    }  
    .comment{
      text-align: left;
      margin: 2%;
    } 
}
.btnDelete{
  --sixth-color: #e7e8e7;
  background: var(--sixth-color);
  border:none;
  margin-left: 2%;
  cursor: pointer;
  i{
    color: var(--primary-color);
    font-size: 1.2rem;
  }
}
</style>