<template>
    <div id="Header" class="header">
        <img src="../assets/icon-left-font-monochrome-white.png" class="header-img" alt="">
    </div>
</template>

<script>
export default {
    name:'headerTile',
    el:'#header',
    methods :{
      deleteUser:function(){
        this.$emit('delete-user');
      }
    }
}
</script>


<style scoped lang="scss">
 .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/backHeader.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  @media only screen and (max-width : 992px) {
    background-image: url("../assets/backHeaderPhone.png");
}
 
  .header-img { 
    width: 180px;
  }
}
</style>