<template>
  <form id="UserLogin"  class="cards signin">

    <h1>{{welcomeMsg}}</h1>

      <p class="alertError" v-if="errors.length">
          <b>Merci de corriger vos erreurs:</b>
          <ul>
            <li v-for="error in errors" :key="error">{{ error }}</li>
          </ul>
      </p>

      <div class="formLogin email-container">
          <label>{{mailLabel}}</label>
          <input v-model="login" type="text" id="email" name="email" placeholder="Email">
      </div>

      <div class="formLogin password-container">
          <label>{{mdpLabel}}</label>
          <input v-model="pwd" type="password" id="password" name="password" placeholder="Mot de passe">
      </div>

      <input class="btn" type="button" v-on:keyup.enter="onEnter" v-model="connectLabel" @click=" logUser() " aria-label="se connecter"/>
      <h2>{{notRegeistered}}</h2>
      <label>{{subTitle}}</label>
      <input class="btn" type="button" v-model="signupLabel" v-on:click="goToSignup()" aria-label="s'inscrire"/>
  </form>
</template>

<script>
export default {
  name:'loginForm',
    el:'#UserLogin',
    data: function () {
      return {
      mdpLabel:'Mot de passe : ',
      mailLabel:'Email : ',
      notRegeistered:'Pas encore inscrit ?',
      welcomeMsg:'Bienvenue ! ',
      signupLabel:'S\'inscrire',
      subTitle:'C’est rapide et facile.',
      connectLabel:'S\'identifier',
      login:'',
      pwd:'',
      errors: []
      }
    },
    methods :{
      goToSignup: function () {
        this.$emit('go-to-signup', true);
      },
      logUser:function(){
        console.log("test");
        if(this.checkForm()) {
          console.log(this.login);
          this.$emit('log-user',{login:this.login,pwd:this.pwd});
        }
     },
      checkForm() {
        this.errors = [];

        if(!this.login) {
          this.errors.push("L'email est requis")
        }

        if(!this.pwd) {
          this.errors.push("le mot de passe est requis")
        }
        return this.errors.length == 0;
      },
    onEnter: function() {
      this.logUser();
    }

    }
}
</script>

<style scoped lang="scss">

.alertError{
        color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;

        ul li {
            list-style-type: none;
        }
}

.cards{
  background-color: white;
  background-image: url("../assets/icon.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--secondary-color);
  height: 50%;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  @media only screen and (max-width : 992px) {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }

  .formLogin{
    display:flex;
    flex-direction: column;
    line-height: 2rem;
    input{
      font-size: 1.2rem;
      border-radius: 5px;
      border: 2px solid var(--tertiary-color);
    }
  }

  .btn{
      margin: 3% auto;
      padding: 2%;
      width: 60%;
      border-radius: 10px;
      border: 2px solid var(--primary-color);
      background: var(--primary-color);
      color: white;
      font-size: 1.3rem;
      font-weight: bold;
          &:hover{
            background: var(--quaternary-color);
            border: 2px solid var(--quaternary-color);
            color: var(--secondary-color);
          }
  }
}







</style>