<template>
    <div id="PeersComponent" class="">
        <userTile  v-bind:user="user"
            @disconnect="logout"
            @delete-user="deleteUser"/>
        
        <!--liste des utilisateurs-->
        <div class="titlePeopleList">
            <i class="fas fa-users iconPeople"></i>
            <span>Retrouvez des collègues : </span>
        </div>
        <div class="PeerList" >
            <div class="searchContainer">
                <button class="btnReturn" @click="resetSearch">Reset</button>
                <input type="text" v-model="searchPattern" placeholder="Dupont Marie, robert..."/>
                <button class="btnSearch" @click="search" aria-label="Rechercher"><i class="fas fa-search"></i></button>
                <br/>
                <select aria-label="Choisissez votre service" name="service" id="selectService" @change="onChange($event)">
                    <option value="-1"> Filtrer par service : </option>
                    <option v-for="s in services" :key="s.Id" v-bind:value="s.Id">{{s.Name}}</option>
                </select>
            </div>
            <peerTile  v-for="c in users" :key="c.UserId" v-bind:user="c" @select-usr="selectOne" />
        </div>
    </div>

</template>

<script>
import UserDto from '../models/user';
import ServiceDto from '../models/service';
import peerTile from './peers.cpnt.vue'
import userTile from '@/components/user.cpnt.vue';
export default {
    name:'peersList',
    el:'#PeersComponent',
	components: {
        userTile,
        peerTile
    },
    props:{
        user:UserDto
        },
    data: function () {
      return {
        searchPattern:'',
        users:[UserDto],
        selectedUser:UserDto,
        originalList:[UserDto],
        services:[ServiceDto],
        service:ServiceDto
      }
    },
    mounted() {
      console.log('test users list');      
        this.$store.dispatch("getSvc").then(x => {
          console.log(x);
            this.services = x;
        });    
      this.$store.dispatch('getAllUsers').then(x =>{
          console.log(x);
              this.users = x;
              this.originalList = x;
          });

    },
    methods :{
      search:function(){
          console.log(this.searchPattern);
          if(this.searchPattern != ''){
            const u =  this.users.filter(x =>{
                var i = x.LastName.indexOf(this.searchPattern);
                if(i > -1) {return true;}
                var j = x.FirstName.indexOf(this.searchPattern);
                if(j > -1) {return true;}
                var k = x.Email.indexOf(this.searchPattern);
                if(k > -1) {return true;}
                return  false;
            });
            this.users = u;
          }
          else{
              this.users = this.originalList;
          }
      },
      resetSearch:function(){
          this.searchPattern = '';
          this.$emit('reset-filter');
      },
      onChange(event) {
            console.log(event.target.value);
            var selected = this.services.find(x => x.Id == event.target.value);
            console.log(selected);
            if(selected !== undefined){
                this.service = selected;
                const u =  this.originalList.filter(x =>{
                    return  x.SvcId == this.service.Id;
                });
                this.users = u;
                    this.$emit('filter-svc',{data:this.service.Id});
            }
            else{
                this.service = null;
                this.users = this.originalList;
                this.$emit('filter-svc',false);
            }
        },
      selectOne:function(value){
            console.log(value);

            if(!this.selectedUser || this.selectedUser.UserId != value.UserId) {
                this.selectedUser = value;
                console.log(value);
                    this.$emit('filter-user',{data:this.selectedUser.UserId});
            }
            else if(this.selectedUser.UserId == value.UserId){
                this.selectedUser = null;
                this.$emit('filter-user',false);
            }
      },
      deleteUser:function(){
        this.$emit('delete-profile');
      },
      logout:function(){
        this.$emit('logout-user');
      }
    }
}
</script>

<style scoped lang="scss">

.PeersComponentContainer{
    height: 60%;
}

.PeerList{
    height: 60%;
}

.titlePeopleList{
    i{
        margin-right: 5%;
    }
}

.avatar{
    width:15px;
    height: 15px;
}

.searchContainer{
    margin-top: 5%;
    margin-bottom: 5%;

    input{
        height: 2rem;
        border: none;
    }
    .btnReturn{
        border-radius: 20px 0px 0px 20px;
        cursor: pointer;
    }

    .btnSearch{
        border-radius: 0 20px 20px 0px;
        width: 2.4rem;
        cursor: pointer;
    }

    button{
        color: white;
        background: var(--primary-color);
        margin-left: -1%;
        height: 2.2rem;
        border: none;
        cursor: pointer;

    }
    select{
        margin-top: 5%;
        height: 2rem;
        border: 2px solid var(--secondary-color);
        border-radius: 5px;
    }
}
</style>