<template>
    <div id="PeerTile" class="line">
        <button class="btnUser" @click="select" v-bind:aria-label="user.FirstName + '-' + user.LastName">
            <img v-bind:src="user.ImgUrl" alt="avatar des utilisateurs"/>
            <div class="label">
                <span>{{ user.FirstName }} - {{ user.LastName }}</span><br/>
            </div>
        </button>
    </div>
</template>
<script>
import UserDto from '../models/user';
export default {
    name:'peerTile',
    el:'#PeerTile',
    props:{
        user:UserDto
        },
    methods :{
      select:function(){
        this.$emit('select-usr',this.user);
      }
    }
}
</script>
<style scoped lang="scss">

button{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7% auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover{
        background-color: var(--primary-color);
        color: white;
    }
}
img {
    width:60px;
    height: 50px;
    border-radius: 40px;
}
.line{
    width:100%;
    height: 40px;
}
.label
{
    width:100%;
}


</style>