<template>
    <div id="PostForm" class="postFormContainer">
        <div>
            <p class="alertError" v-if="errors.length">
                <b>Merci de corriger vos erreurs:</b>
                <ul>
                    <li v-for="error in errors" :key="error">{{ error }}</li>
                </ul>
            </p>
            <div class="formItem titleContainer">
                <label for="title">{{titleLabel}}</label>
                <input v-model="title" type="text" name="title" id="title" placeholder="Titre de mon post" />
                <span></span>
            </div>
            <div class="formItem gifContainer">
                <label for="gif"><i class="fas fa-image"></i> {{imgLabel}}</label>
                <input type="hidden" name="MAX_FILE_SIZE" value="4000000" /> <!-- Limite 4MO -->
                <input type="file" id="gif" name="gif" v-bind:value="imgUrl"
                v-on:input="imgUrl = $event.target.value" @change="previewFiles" accept=".jpg, .jpeg, .png, .gif">
                <span>{{filterLabel}}</span>
                <span></span>
            </div>
            <div class="send">
                <button class="btnAddPost" v-on:keyup.enter="onEnter" @click="createPost" aria-label="Ajoutez votre post"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
import PostDto from '../models/posts';
export default {
    name:'postForm',
    el:'#PostForm',
    data: function () {
      return {
      titleLabel:'Titre :',
      imgLabel:'Choisissez une image :',
      filterLabel:' *.gif, .jpg, .jpeg uniquement',
      addImgLabel:'Ajoutez l\'image',
      title:null,
      imgUrl:null,
      file:null,
      errors: []
      }
    },
    methods :{
      createPost:function(){

         if(this.checkForm()) {
            const u = Object.create(PostDto);
            u.Title = this.title;
            u.GifUrl = this.imgUrl;
            console.log(u);
            this.$emit('create-post', {data:this.file,post:u});
            this.title = null;
            this.imgUrl = null;
            this.file = null;
         } 
     },
      previewFiles(event) {
      console.log(event.target.files);
      this.file = event.target.files[0];
   },
         checkForm() {
        this.errors = [];

        if(!this.title) {
          this.errors.push("Un titre est requis")
        }

        if(!this.file) {
          this.errors.push("Une images est requise")
        }
        return this.errors.length == 0;
      },
    onEnter: function() {
      this.createPost();
    }
    }
}
</script>

<style scoped lang="scss">
.postFormContainer{
    width: 80%;
    margin: auto;
    padding: 1%;
    background: var(--sixth-color);
    border-radius: 15px;

    .alertError{
        color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;

        ul li {
            list-style-type: none;
        }
    }

input{
    border: none;
    height: 2rem;
    border-radius: 5px;
    width:80%;
    @media only screen and (max-width : 992px) {
          width: 70%;
    }
}
}

.titleContainer{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 5%;
    label{
        margin-right: 3%;
        font-weight: bold;
    }
}

.gifContainer{
    background: lighten($color: #E8E8E8, $amount: 6);
    padding: 3%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
        label{
            font-weight: bold;
        }
        input{
            margin: 2%;
        }
}

input{
    border: none;
    height: 2rem;
    border-radius: 5px;
}

.send{
    margin-left: 80%;
    button{
        border: none;
        background: var(--sixth-color);
        i{
            color: var(--primary-color);
            font-size: 1.6rem;
            cursor: pointer;
        }
    }
   
}

</style>