<template>
    <div id="PostPresenter" class="postContainer">
        <div class="headerPost">
            <div class="profilPost">
                <img class="avatar" v-bind:src="post.ImgUrl" alt="">
                <div class="user">
                    <h2 class="identity">{{post.FirstName}} - {{post.LastName}}</h2>
                    <span class="service">{{post.SvcName}}</span>
                </div>
            </div>
            <div class="dateContainer">
                <span class="date">{{formatDate(post.Date)}}</span>
            </div>
        </div>
        <div class="mainPost">
            <h2 class="titlePost">{{post.Title}}</h2>
            <div class="gifPost">
                <img class="gifPostImg" v-bind:src="post.GifUrl" v-bind:alt="post.Title">
            </div>
        </div>
        <div class="footerPost">
            <div class="footerIcon">
                <div class="modifPost">
                    <button v-if="isAdmin || isMine" @click="deletePost" ><i class="far fa-trash-alt"></i></button>
                </div>
                <div class="commentPost" >
                    <button  v-on:click="show = !show"><i class="far fa-comment"></i>{{post.CommentCount}}</button>
                </div>
            </div>
            <transition name="fade">
                <div v-if="show"  class="cmtContainer">
                    <cmtPresenter  :postId="post.Id" />
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import CommentDto from '../models/comment';
import PostDto from '../models/posts';
import cmtPresenter from './cmt-presenter.cpnt.vue'
import moment from 'moment'

export default {
    name:'post',
    el:'#PostPresenter',
    props:{
        post:PostDto
    },
	components: {
        cmtPresenter
    },
    data: function () {
      return {
      isMine:false,
      isAdmin:this.$store.getters.getConnectedUser.IsAdmin,
      //showComment:false,
      show:false,
      comments:[CommentDto] 
      }
    },
    mounted() {
      console.log('test post');
      console.log(this.post);
      const pid =this.post.UserId.toString();
      console.log(pid);
      const locUid =this.$store.getters.getConnectedUser.UserId.toString();
      console.log(locUid);
      if(pid.localeCompare(locUid) == 0) this.isMine = true;
      this.comments = this.post.comments;
      console.log(this.isMine);
    },
    methods :{
      toggleComments:function(){
        this.showComment = !this.showComment;
        //if(this.showComment){

        //}
      },
      deletePost:function(){
          if(confirm('voulez vous effacer ce post ?')){
            this.$emit('delete-post', {post:this.post});
          }
      },
      formatDate(value){
         if (value) {
           return moment(String(value)).format('DD/MM/YY hh:mm')
          }
      },
    }
}
</script>

<style scoped lang="scss">
.postContainer {
    width: 80%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    background: var(--sixth-color);
    border-radius: 15px;    
    transition: height 10s ease-in-out;

}
.avatar{
    width:25px;
    height: 25px;
}
.headerPost {
    border-bottom: 2px solid var(--fifth-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    .profilPost{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;

        .avatar{
            width: 50px;
            height: 50px;
            border-radius: 20px;
        }
        .user{
            margin-left: 5%;
            line-height: 1rem;
            margin-bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
        .dateContainer{
            width: 25%;
        }
    }
    @media only screen and (max-width : 992px) {
        h2{
            font-size: 1rem;
        }
            font-size: 0.8rem;
    }
}

.mainPost {
    margin: 5%;
    .gifPostImg{
        width: 90%;
        max-height: 500px;
        @media only screen and (max-width : 992px) {
            max-height: 300px;
        }
    }    
}
.footerPost{ 
    border-top: 2px solid var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    transition: height 10s ease-in-out;
        i{
            color: var(--primary-color);
            background: var(--sixth-color);
            margin: 2%;
            font-size: 1.2rem;
            cursor: pointer;
        }
    .footerIcon{
        margin-top: 2%;
        width: 100%;
        display: flex; 
        flex-direction: row;
    
        .modifPost{
            width: 50%;
            display: flex;
            justify-content: center;
           
            button{
                border: none;
                background: var(--sixth-color);
                margin: 2%;
                 cursor: pointer;
            }
        }
        .commentPost{
            width:50%;
            display: flex;
            justify-content: center;
           
            button{
                border: none;
                background: var(--sixth-color);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                 cursor: pointer;
                i{
                    margin-right: 5%;
                }
            }
        }
    }
}

.cmtContainer{
    width: 100%;
}

.fade-enter-active{
    animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-leave-active {
    animation: scale-out-ver-top  1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-leave-to{
    opacity:0;
    transform: scaleY(0);
}
.fade-enter-to{
    opacity:1;
    transform: scaleY(1);
}
@-webkit-keyframes scale-in-ver-top {
  0% {
            transform: scaleY(0);
            transform-origin: 100% 0%;
            opacity: 0;
  }
  100% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
            opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
            transform: scaleY(0);
            transform-origin: 100% 0%;
            opacity: 0;
  }
  100% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
            opacity: 1;
  }
}
@-webkit-keyframes scale-out-ver-top {
  0% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
            opacity: 1;
  }
  100% {
            transform: scaleY(0);
            transform-origin: 100% 0%;
            opacity: 0;
  }
}
@keyframes scale-out-ver-top {
  0% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
            opacity: 1;
  }
  100% {
            transform: scaleY(0);
            transform-origin: 100% 0%;
            opacity: 0;
  }
}
</style>