<template>
         <div id="UserSignup" class="form-container">
            <p class="alertError" v-if="errors.length">
                <b>Merci de corriger vos erreurs:</b>
                <ul>
                    <li v-for="error in errors" :key="error">{{ error }}</li>
                </ul>
            </p>
            <div class="formulaire">
                    <div class="formItem imageProfil-container">
                        <label for="avatar">{{imgLabel}}</label>
                        <input type="hidden" name="MAX_FILE_SIZE" value="4000000" /> <!-- Limite 4MO -->
                        <input type="file" ref="file" id="avatar" name="avatar"
                                @change="previewFiles"  accept="image/jpg, image/jpeg, image/png">
                        <span>{{imgFilter}}</span>
                    </div>

                    <div class="formItem lastName-container">
                        <label for="lastName">{{firstNameLabel}}</label>
                        <input  v-model="lastName" type="text" name="lastName" id="lastName" placeholder="Nom" />
                    </div>

                    <div class="formItem firstName-container">
                        <label for="firstName">{{lastNameLabel}}</label>
                        <input v-model="firstName" type="text" name="firstName" id="firstName" placeholder="Prénom" />
                    </div>

                    <div class="formItem service-container">
                        <label for="service">{{serviceLabel}}</label>
                        <select  v-model="service" name="service" id="selectService" @change="onChange($event)">
                            <option value="-1"> Choisissez votre service : </option>
                            <option v-for="s in services" :key="s.Id" v-bind:value="s.Id">{{s.Name}}</option>
                        </select>
                    </div>

                    <div class="formItem password-container">
                        <label for="password">{{mdpLabel}}</label>
                        <input v-model="password" type="text" name="password" id="password" placeholder="Mot de passe"/>
                        <span>Le mot de passe dois contenir minimum 8 caractères, au moins une lettre majuscule, une lettre minuscule et un chiffre.</span>
                    </div>

                    <div class="formItem email-container">
                        <label for="email">{{mailLabel}}</label>
                        <input v-model="email" type="email" name="email" id="email" placeholder="Email" />
                    </div>
            </div>
            <input class="btn" type="button" v-on:keyup.enter="onEnter" v-bind:value="signupLabel" v-on:click=" createUser() " aria-label="s'inscrire"/>
            <p>{{alreadyRegeistered}}</p>
            <input class="btn" type="button" v-bind:value="connectLabel" v-on:click="goToLogin()" aria-label="se connecter"/>
        </div>
</template>

<script>
import UserDto from '../models/user';

export default {
    name: 'signupForm',
    el:'#UserSignup',
    data: function () {
      return {
      mdpLabel:'Mot de passe : ',
      mailLabel:'Email : ',
      firstNameLabel:'Nom :',
      lastNameLabel:'Prénom :',
      serviceLabel:'Service :',
      imgLabel:'Image de profil :',
      imgFilter:' * .jpg, .jpeg .png uniquement',
      alreadyRegeistered:'Vous avez déjà un compte ?',
      signupLabel:'S\'inscrire',
      connectLabel:'S\'identifier',
      firstName:null,
      lastName:null,
      imgUrl:null,
      service:null,
      password:null,
      email:null,
      errors: []
      }
    
    },
    props:{
        services:Array
    },
    methods :{
      goToLogin: function () {
        this.$emit('go-to-login', false);
      },
      createUser:function(){
          if(this.checkForm()) {
          const u = Object.create(UserDto);
          u.LastName = this.lastName;
          u.FirstName = this.firstName;
          u.SvcId = this.service;
          u.Pwd = this.password;
          u.ImgUrl = this.imgUrl;
          u.Email = this.email;
        this.$emit('create-user', {data:this.file,user:u});
          }

      },
      onChange(event) {
            console.log(event.target.value);
            var selected = this.services.find(x => x.Id == event.target.value);
            console.log(selected);
            if(selected !== undefined){
                this.service = selected.Id;
            }
            else{
                this.service = -1;
            }
        },
      previewFiles(event) {
            console.log(event.target.files);
            this.file = event.target.files[0];
        },

      checkForm() {
        this.errors = [];

        if(!this.file) {
              this.errors.push("Veuillez choisir une image de profil")
        }
        if(!this.firstName) {
              this.errors.push("Le nom est requis")
        }
        if(!this.lastName) {
              this.errors.push("Le prénom est requis")
        }
        if(!this.service) {
              this.errors.push("veuillez sélectionner votre service")
        }
        if(!this.password) {
              this.errors.push("Le mot de passe requis.")
        } else if (!this.validPassword(this.password)) {
              this.errors.push("Le mot de passe n'est pas valide")
        }
        if(!this.email) {
              this.errors.push("L'email requis.")
        } else if (!this.validEmail(this.email)) {
            this.errors.push("L'email n'est pas valide")
        }

        return this.errors.length == 0;
      },  
      validEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },

        validPassword(password) {
        var re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
        return re.test(password);
      },
    onEnter: function() {
      this.createUser();
    }
    }
}
</script>

<style scoped lang="scss">

   .alertError{
        color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;

        ul li {
            list-style-type: none;
        }
    }

div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p{
        font-weight: bold;
    }
    .formulaire{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        @media only screen and (max-width : 767px) {
            width: 100%;
        }
                
        label{
            font-weight: bold;
        }

        input{
            margin-top: 2%;
            width: 100%;
            height: 1.6rem;
            border: 1px solid var(--secondary-color);
            background-color: white;
            border-radius: 5px;
            padding: 2%;
        }

        .formItem{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 70%;
            margin-top: 3%;
            #avatar{
                width: 100%;
            }
        }

        #selectService{
            height: 2rem;
            border-radius: 10px;
            background: white;
            width: 50%;
            margin-top: 2%;
        }
    }
    .btn{
        height: 2.5rem;
        width: 40%;
        border-radius: 10px;
        border: 2px solid var(--primary-color);
        background: var(--primary-color);
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background: var(--quaternary-color);
            border: 2px solid var(--quaternary-color);
            color: var(--secondary-color);
        }
    }
}

</style>
