<template>
    <div id="UserTile">
        <img v-bind:src="user.ImgUrl" alt="Image profile"/>
        <h3>{{ user.FirstName }} - {{ user.LastName }}</h3>
        <span>{{ user.SvcName }}</span>
        <button @click="logout" ><i class="far fa-times-circle"></i>Déconnexion</button>
        <button @click="deleteUser" ><i class="far fa-trash-alt"></i>Supprimer mon compte</button>
    </div>
</template>
<script>
import UserDto from '../models/user';
export default {
    name:'userTile',
    el:'#UserTile',
    props:{
        user:UserDto
        },
    methods :{
      logout:function(){
        this.$emit('disconnect');
      },
      deleteUser:function(){
        if(confirm('Voulez vous supprimer votre compte ? (cete action est irreversible)')){
          this.$emit('delete-user');
        }
      }

    }
}
</script>

<style scoped lang="scss">
#UserTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width:80px;
    height: 80px;
    border-radius: 20px;
  }

  button{
    margin: 3%;
    height: 2.7rem;
    font-size: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background: var(--secondary-color);
    width: 160px;
    box-shadow: 4px 4px 6px -3px var(--secondary-color);
    cursor: pointer;
    color: white;
      &:hover{
        background: var(--primary-color);
        border: 2px solid var(--primary-color);
      }
      i{
        margin-right: 4%;
      }
  }
}

</style>