:root {
  --primary-color: #bc313c;
  --secondary-color: #132543;
  --tertiary-color: #aeafae;
  --quaternary-color: #fcd7d6;
  --fifth-color: #556686;
  --sixth-color: #e7e8e7;
}
/*#d0505a*/
/* définition des breakpoints dans une map*/

--breakpoints-max: ("tablet": 991px, "desktop": 4000px);
--breakpoints-min: ("tablet": 767px, "desktop": 992px);
