
<template>
  <main>
    <router-view />
  </main>
</template>

<style lang="scss">

@import './assets/style/variables.css';

html{
   background-color: white;
}  

#app {
  font-family: 'Montserrat','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
 
  img{
    object-fit: cover;
  }

}

</style>
