
<template>
  <div id="PostList">
   <headerTile />
   <button class="BurgerNav" v-on:click="show = !show"><i class="fas fa-bars"></i></button>
   
   <div class="main">
       <transition name="fade">
        <!-- colonne avec le profil utilisateur -->
          <aside class="profilColumn" v-if="show" >
            <peersList v-bind:user="user"
                 @filter-user="filterUser" 
                 @filter-svc="filterSvc"
                 @logout-user="logout"
                 @reset-filter="resetFilter"
                 @delete-profile="deleteProfile" />
          </aside>
      </transition>

    <!-- section des posts -->
    <section class="postsColumn">
      <!-- POST vide-->
      <div class="emptyPost">
        <postForm @create-post="createPost" /> 
      </div>
      <!-- List posts-->
      <div class="gifsContainer">
        <post  v-for="p in allPosts" :key="p.Id" :post="p"
            @update-post="updatePost"
            @delete-post="deletePost"/>
      </div>
    </section>
   </div>
 
  </div>
</template>

<script>
import headerTile from '@/components/header.cpnt.vue';
import postForm from '@/components/post-form.cpnt.vue';
import post from '@/components/post-presenter.cpnt.vue';
import peersList from '@/components/peers-presenter.cpnt.vue';
import UserDto from '../models/user';

export default {
	name: 'home',
  el:'#PostList',
  data: function () {
      return {
          user: UserDto,
          allPosts : [],
          originalPostsList : [],
          show: true,
      }
  },
  computed: {
    posts() {
        return this.$store.getters.getPosts;
    }
  },
	components: {
        postForm, 
        post,
        peersList,
        headerTile
    },
  mounted() {
      console.log('test connected');
    if(!this.$store.getters.getIsAuth){
      console.log('not connected');
      this.$router.push('/');
    }else{
      console.log(this.$store.getters.getConnectedUser);
      this.user = this.$store.getters.getConnectedUser;
      this.show =!this.isMobile();
      this.load();
    }
  },
    methods :{
      createPost:function(value){
        console.log(value);
        value.post.UserId = this.$store.getters.getConnectedUser.UserId;
        const fd = new FormData();
        const str = JSON.stringify(value.post)
        fd.append('post', str);
        fd.append('image', value.data);
        console.log(fd);
        this.$store.dispatch('addPost', {form:fd ,post:value.post}).then(x => {
          console.log(x);
          this.load();
        });
      },
      deletePost:function(value){
        console.log(value.post);
        this.$store.dispatch('deletePost', value.post.Id).then(x => {
          console.log(x);
          this.load();
        }).catch((e) => {
          console.log(e);
            alert('Une erreur est survenue')
          });
      },
      updatePost:function(value){
        console.log(value);
        const fd = new FormData();
        const str = JSON.stringify(value.post)
        fd.append('post', str);
        fd.append('image', value.data);
        console.log(fd);
        this.$store.dispatch('updatePost', {form:fd ,post:value.post}).then(x => {
          console.log(x);
          this.load();
        }).catch((e) => {
          console.log(e);
            alert('Une erreur est survenue')
          });
      },
      logout:function(){
        this.$store.dispatch('logout').then(x => {
          console.log(x);
          this.$router.push('/');
        });
      },
      deleteProfile:function(){
        this.$store.dispatch('signout',this.user.UserId).then(x => {
          console.log(x);
          this.$router.push('/');
        });
      },
      filterUser:function(value){
        console.log(value);
          this.allPosts = [];
        if(!value){
          this.allPosts = this.originalPostsList.sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
        }else{
          this.allPosts = this.originalPostsList.filter((a) => {
                return a.UserId == value.data;
              }).sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
        }
      },
      filterSvc:function(value){
        console.log(value);
          this.allPosts = [];
        if(!value){
          this.allPosts = this.originalPostsList.sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
        }else{
          this.allPosts = this.originalPostsList.filter((a) => {
                return a.SvcId == value.data;
              }).sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
        }
      },
      resetFilter:function(){
          this.allPosts = this.originalPostsList.sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
        },
      load:function(){
          this.$store.dispatch('getAllPosts').then((x) =>{
            console.log(x);
            this.originalPostsList = [];
            this.originalPostsList = x;
            this.allPosts = this.originalPostsList.sort((a, b) => {
                var dateA = new Date(a.Date).getTime();
                var dateB = new Date(b.Date).getTime();
                return dateA < dateB ? 1 : -1;
              });
          }).catch((e) => {
          console.log(e);
            alert('Une erreur est survenue')
          });
      },
      isMobile() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          return true
        } else {
          return false
        }
      }
    }
}
</script>

<style scoped lang="scss">

#PostList{
  display:flex;
  flex-direction: column;

  .BurgerNav{
      display:none;
      @media only screen and (max-width : 992px) {
        display: block;
        width: 60px;
        height: 60px;
        background: var(--primary-color);
        color: white;
        border: none;
        border-radius: 15px;
        z-index: 50;
        position: fixed;
        top: 0;
      }
  }

  .main {
    display:flex;
    flex-direction: row;
    margin-top:3%;
    .profilColumn{
      width: 20%;
      background: var(--fifth-color);
      padding-top: 3%;
      border-radius: 0px 10px 10px 0px;
      padding-bottom:5%;
      color: white;
        .titlePeopleList{
          display:flex;
          flex-direction: column; 

          .iconPeople{
            color: var(--primary-color);
            font-size: 3rem;
            padding: 10px; 
          }
        }
          @media only screen and (max-width : 767px) {
            //position: absolute;
            position: fixed;
            overflow: scroll;
            height: 90%;
            width:80%;
            top: 0;
            border-radius: 15px 10px 10px 0px;
          }

          @media only screen and (min-width: 766px) and (max-width : 992px) {
            position: fixed;
            overflow: scroll;
            height: 90%;
            width: 50%;
            top: 0;
            border-radius: 15px 10px 10px 0px;
          }
    }
    
    .postsColumn{
       
        width: 60%;
        .gifsContainer{
          margin: auto;
          display:flex;
          flex-flow: column;
        }

        @media only screen and (max-width : 992px) {
          margin: auto;
          width: 100%;
        }

    }
  }

}
//testAnimation

 @media only screen and (max-width : 992px) {

.fade-enter-active{
  animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
;
}
.fade-leave-active {
  animation: scale-out-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.fade-leave-to{
    opacity:0;
    transform: scaleY(0);
}
.fade-enter-to{
    opacity:1;
    transform: scaleY(1);
}
@-webkit-keyframes scale-in-tl {
   0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
}
@keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
}
@-webkit-keyframes scale-out-tl {
  0% {
            transform: scale(1);
            transform-origin: 0% 0%;
            opacity: 1;
  }
  100% {
            transform: scale(0);
            transform-origin: 0% 0%;
            opacity: 0;
  }
}
@keyframes scale-out-tl {
  0% {
            transform: scale(1);
            transform-origin: 0% 0%;
            opacity: 1;
  }
  50%{
            opacity :0.8;
  }
  100% {
            transform: scale(0);
            transform-origin: 0% 0%;
            opacity: 0;
  }
}


      }



</style>