
<template>
    <div id="AuthView" class="auth-container">
      <headerTile/>

      <div class="logContainer">
        <loginForm v-if="!isNew" 
                @go-to-signup="clickedToggleCreation"
          @log-user="login" /> 
        <signupForm v-if="isNew" 
                v-bind:services="services"
                @go-to-login="clickedToggleCreation"
          @create-user="signup"/> 
      </div>
    </div>
</template>

<script>
import headerTile from '@/components/header.cpnt.vue';
import signupForm from '../components/signup.cpnt.vue';
import loginForm from '../components/login.cpnt.vue';
import ServiceDto from '../models/service';

export default {
	name: 'login',
    el:'#AuthView',
    data: function () {
        return {
            title:'S\'inscrire',
            subTitle:'C’est rapide et facile.',
            services:[ServiceDto],
            isNewUser :false
        }
    },
  computed: {
    isNew() {
        return this.isNewUser;
    }
  },
	components: {
        signupForm,
        loginForm,
        headerTile
    },
    methods: {
        clickedToggleCreation: function (value) {
            console.log('user new');
            console.log(value);
            this.isNewUser = value;
        },
        login:function(value){
          console.log(value);
          this.$store.dispatch('logUser',value).then((x) => {
            this.handleConnection(x);
          }).catch((e) => {
          console.log(e);
            alert('Utilisateur inconnu');
            this.isNewUser = true;
          });
        },
        signup:function(value){
          console.log(value);
          const fd = new FormData();
          const str = JSON.stringify(value.user)
          fd.append('user', str);
          fd.append('image', value.data);
            this.$store.dispatch('signup',{form:fd ,user:value.user}).then((x) => {
              this.handleConnection(x);
            }).catch((e) => {
          console.log(e);
            alert('Une erreur est survenue')
          });
        },
        handleConnection:function(x){
          console.log('Call Auth ended');
          console.log(x);
          console.log(this.$store.state.getUser);
            if(this.$store.getters.getIsAuth){
              this.$store.dispatch('getPosts',x.UserId).then((x) =>{
                console.log(x);
                this.$router.push('/home');
              }).catch((e) => {
                console.log(e);
                alert('Une erreur lors du chargement des posts de l\'utilisateur');
                this.$router.push('/home');
              });
            }
        }
    },
  mounted() {
    this.$store.dispatch("getSvc").then(x => {
      this.services = x;
    });
    if(this.$store.getters.getIsAuth){
      console.log('already connected');
      this.$router.push({ name: 'home' });
    }
  }
}
</script> 

<style scoped lang="scss">

.auth-container{
  margin-bottom: 5%;

  .logContainer{
    margin-top: 5%;
  }
}

</style>